#locationDisplayBox{
  float: right;
}
#locationDisplay{
  padding-top: 30px;
  text-align: center;

}
#statsDisplay{

}

#buttonDisplayBox{
  float: right;
}
#mainDisplayBox{

}
#fightDisplay{
}
#buttons{
}
#name{
  text-align: center;
  font-weight: bold;
}
.well{
  height: 300px;
}
