#locationDisplayBox{
  height: 300px;
  float: right;
  border: 2px solid black;
}
#locationDisplay{
  padding-top: 30px;
  text-align: center;

}
#statsDisplay{
  border: 1px solid black;
  height: 300px;
}

#buttonDisplayBox{
  float: right;
  border: 2px solid black;
}
#mainDisplayBox{
  border: 1px solid black;
  height: 600px;
}
#buttons{
}
