#gameWrapper{
  display: none;
}
#locationDisplayBox{
  float: right;
}
#locationDisplay{
  padding-top: 30px;
  text-align: center;

}
#statsDisplay{
  line-height: 15px;

}

#buttonDisplayBox{
  float: right;
}
#mainDisplayBox{

}
#fightDisplay{
}
#buttons{
  position: absolute;
  bottom: 25px;
}
#name{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
#HP{
  font-color: black;
}
#missingHP{
  opacity: .25;
}
.well{
  height: 250px;
}
.green{
  color: green;
}
.yellow{
  color: yellow;
}
.red{
  color: red;
}
